/*CSS for Header*/
@import
	url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.header {
	float: right !important;
}

body, h3, h1, h2, div, p {
	font-family: 'Lato', serif;
}

#header ul.nav.nav-pills {
	background-color: #434A4F;
	height: 55px;
}

#header ul li {
	padding-top: 5px;
}

#header .header.user-icon {
	margin-right: 10px;
}

#header ul li a {
	color: #fff;
	background-color: transparent !important;
}

#header ul li a:hover {
	background-color: transparent !important;
	color: #ff8a2b;
}

#header .adminMenu a {
	display: inline-block;
}

#header .adminMenu:before {
	content: " ";
	display: inline-block;
	background: #848282;
	margin: 0 10px;
	height: 16px;
	width: 1.5px;
	position: relative;
	top: 3px;
}

#header .header.count span {
	font-family: Source Sans Pro;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: white;
	position: absolute;
	top: -7px;
	right: -11px;
	min-width: 20px;
	min-height: 20px;
	padding: 0 4px;
	border-radius: 50%;
	margin-right: 5px;
}

#header .header.user-icon a span {
	transform: scaleX(-1);
	color: #ff8a2b;
	font-size: 25px;
	padding-top: 3px;
}

.search {
	padding: 27px;
}

.search .search-block {
	display: inline-block;
	position: relative;
	background: #ebebeb;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}

.search input[type="text"] {
	color: #939393;
	background: none;
	display: block;
	margin: 0;
	float: left;
	width: 370px;
	font-size: 16px;
	line-height: 20px;
	height: 44px;
	padding: 12px 35px 12px 20px;
	border: none;
	border-radius: 22px;
	box-sizing: border-box;
	outline: none;
}

.search button {
	background: none;
	border: none;
	padding: 0;
	-webkit-appearance: none;
	position: absolute;
	right: 3px;
	display: inline-block;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	transition: 0.3s all ease;
	font: 400 18px/44px "FontAwesome";
	height: 44px;
	width: 44px;
	color: #929292;
	vertical-align: top;
}

.logo {
	padding: 40px;
}

.header.user {
	margin-top: 10px;
	color: #337ab7;
}

.header a[href*="/logout"] {
	margin-left: -10px;
}

.header.user-icon {
	margin: 4px 5px 0px 0px;
}

.header.user-icon a {
	padding: 0px !important;
}

.header.count {
	margin-top: 10px;
	margin-right: 10px;
}

/*CSS for home page*/
#home {
	margin-top: 30px;
}

#home .header_modules {
	margin-top: 38px;
}

#home .parallax {
	position: relative;
	z-index: 1;
	color: #fff;
	background: #000;
	font-size: 24px;
	line-height: 29px;
}

#home .parallax>div {
	background-image: url("/resources/image/main.jpg");
	width: 1225px;
	height: 430px;
	padding: 144px 0 146px;
	text-align: center;
	position: relative;
	background-position: top !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
}

#home .container {
	font: bold 48px/58px "PT Serif", serif;
	color: #fff;
}

#home #breakfast {
	margin-top: 30px;
}

#home h3 {
	font-size: 34px;
	font-weight: 500;
	color: #61646b;
	padding-bottom: 0;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	border-bottom: 1px solid #dadada;
	margin: 0px;
	padding-top: 10px;
	background: #f3f3f3;
	padding-left: 15px;
}

#home .name {
	color: #999;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

#home .description {
	font-family: "Lobster", cursive;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 400;
	color: #2f2f2f;
	text-rendering: optimizelegibility;
	margin-top: 7px;
}

#home .description:hover {
	color: #FF8A2B;
}

#home .price {
	font-family: "Lobster", cursive;
	color: #61646b;
	font-size: 27px;
	margin-bottom: 27px;
}

#home .price:hover {
	color: #FF8A2B;
}

#home .content {
	margin-top: 45px;
}

#home .content h1 {
	text-align: center;
	height: 100px;
	background: rgb(245, 245, 245);
	margin: 0px;
	padding-top: 25px;
}

#home .content img {
	width: 250px;
	height: 250px;
}

#home .glyphicon.glyphicon-shopping-cart {
	transform: scaleX(-1);
}

#home .addToCartBtn {
	background: #fff;
	border: 2px solid #d4d5d5;
	font-size: 18px;
	line-height: 22px;
	color: #4e4e4e;
	padding: 10px 20px;
	text-shadow: none;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	position: relative;
	overflow: hidden;
	font-family: "Lobster", cursive;
	box-sizing: border-box;
	text-transform: capitalize;
}

#home .addToCartBtn:hover, #home .addToCartBtn:focus {
	text-decoration: none;
	background-color: #FF8A2B;
	color: white;
	border: none;
}

.logo ul {
	margin-top: 5px;
	margin-left: 10px;
}

.social-icon {
	display: inline-block !important;
	margin-right: 30px;
	color: #b0b0b0;
	font-size: 16px;
	line-height: 18px;
}

.social-icon a {
	color: #b0b0b0;
}

.social-icon a:hover, .social-icon a:focus {
	color: #EF842E;
}

.social-icon:hover, .social-icon:focus {
	color: #EF842E;
}

#home .slide-1, #home .slide-2, #home .slide-3 {
	height: 1000px;
}

#home .content .caption {
	font: 400 16px/24px "PT Serif", serif;
	margin-bottom: 21px;
	letter-spacing: -.5px;
	color: #1E1F21;
	margin-top: 10px;
	font-weight: 700;
}

#home .content>div {
	text-align: center;
	width: 24%;
	display: inline-block;
}

/*CSS products Page*/
.error {
	color: #b9041c;
	font-weight: bold;
}

.errorSignUp {
	color: #b9041c;
	font-weight: 700;
	font-size: 11px;
}

.error.message {
	margin-top: 10px;
}

.nav-pills>li>a {
	border-radius: 0px !important;
}

.errorInput {
	border: 1px solid red;
}

#products {
	background-image: url("/resources/image/home.jpg");
	color: white;
	background-size: cover;
}

#products .productNotExist {
	position: absolute;
	left: 35%;
	top: 45%;
	color: darkcyan;
}

#products h3 {
	text-align: center;
	margin: 0px;
}

#products table {
	width: 80% !important;
	margin: auto !important;
	margin-top: 50px !important;
	background-image: url(../image/bg-white-lock.png);
	height: 275px;
	overflow: scroll;
}

#products .modal-dialog {
	left: 0% !important;
	color: black;
	width: 350px;
}

#products .glyphicon-edit:before {
	content: "\e065";
}

#products .glyphicon-remove:before {
	content: "\e014";
}

#products .btn-primary {
	margin-top: 10px;
	margin-right: 10%;
}

#products table #action {
	padding-left: 67px;
}

#products td.action {
	width: 50px;
}

#products #addLnk {
	margin-left: 10%;
}

#products .pagination {
	margin-left: 10%;
}

#products .pagination>li>a {
	min-width: 40px;
	text-align: center;
}

/*CSS Modify Product*/
#modifyProduct {
	background-color: #7E8F7C;
	/* 	height: 900px; */
	padding-bottom: 100px;
}

#modifyProduct #productImage {
	position: absolute;
	z-index: 2;
	opacity: 0;
}

#modifyProduct .upload {
	text-align: center;
	display: block;
	width: 200px;
	background: #f6f7f9;
	border: #f6f7f9;
	border-radius: 5px;
	cursor: pointer;
	height: 30px;
	padding: 5px;
}

#modifyProduct .glyphicon {
	float: left;
	padding-left: 10px;
	padding-top: 2px;
}

#modifyProduct h3 {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
}

#modifyProduct form {
	width: 80%;
	margin-left: 10px;
}

/*CSS for users Page*/
#users {
	background-image: url("/resources/image/personManager.jpg");
	width: 100%;
	color: white;
	background-size: cover;
}

#users .productNotExist {
	position: absolute;
	left: 35%;
	top: 45%;
	color: cornsilk;
}

#users .productNotExistAddBtn {
	margin-right: 10%;
	float: right;
	position: absolute;
	left: 46%;
	top: 60%;
}

#users h3 {
	text-align: center;
	margin-top: 20px;
}

#users table {
	width: 80% !important;
	margin: auto !important;
	margin-top: 50px !important;
	background-image: url("/resources/image/bg-white-lock.png");
}

#users table #action {
	padding-left: 100px;
}

#users #addLnk {
	margin-right: 10%;
	float: right
}

#users .pagination {
	margin-left: 10%;
	display: block;
}

/*CSS for persons Page*/
#persons {
	background-image: url("/resources/image/personManager.jpg");
	height: 600px;
	width: 1240px;
	color: white;
	padding-top: 20px;
	background-size: cover;
}

#persons .productNotExist {
	position: absolute;
	left: 35%;
	top: 45%;
	color: cornsilk;
}

#persons .productNotExistAddBtn {
	margin-right: 10%;
	float: right;
	position: absolute;
	left: 46%;
	top: 60%;
}

#persons h3 {
	text-align: center;
	margin: 0px;
}

#persons table {
	width: 80% !important;
	margin: auto !important;
	margin-top: 50px !important;
	background-image: url("/resources/image/bg-white-lock.png");
}

#persons table #action {
	padding-left: 100px;
}

#persons #addLnk {
	margin-right: 10%;
	float: right
}

#persons .pagination {
	margin-left: 10%;
	display: block;
}

/*modifyUser*/
#modifyUser {
	width: 100%;
	background-repeat: no-repeat;
}

#modifyUser h3 {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
}

#modifyUser form {
	width: 90%;
	margin-left: 5%;
	margin-right: 10px;
	margin-top: 15px;
}

/*CSS Modify Person*/
#modifyPerson {
	background-color: #7E8F7C;
	height: 600px;
}

#modifyPerson h3 {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
}

#modifyPerson form {
	width: 90%;
	margin-left: 5%;
	margin-right: 10px;
	margin-top: 15px;
}

#modifyPerson .form-content {
	column-count: 2;
}

#modifyPerson #group1 {
	float: left;
	width: 40%;
}

#modifyPerson #group2 {
	float: right;
	width: 40%;
}

#modifyPerson #group3 {
	clear: both;
}

/*CSS for Login security*/
#login {
	position: absolute;
	z-index: -1;
	background: url("../image/coffe_login.jpg") 50% 50%/cover no-repeat
		fixed padding-box border-box rgb(43, 54, 67);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	border-width: 0px;
	border-style: none;
	border-color: rgb(51, 51, 51);
	color: white;
}

#login .btn-success {
	width: 100%;
}

#login .btn-primary {
	width: 100%;
	margin-top: -10px;
}

#login .divider-break {
	border-top: 1px solid #e7e7e7;
	margin-top: 25px;
	z-index: 1;
	text-align: center;
}

#login .checkbox {
	color: white;
}

#login .divider-break p {
	position: relative;
	top: -20px;
	color: white;
	opacity: 0.5;
}

#login .container {
	width: 30%;
	margin-top: 10%;
	background-image: url("../image/bg-white-lock.png");
	padding: 20px;
	background-size: cover;
}

#login a[href="signup"] {
	color: white;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}

#login a[href="signup"]:hover {
	text-decoration: none;
}

/*CSS for access denied page*/
#error .container {
	background-image: url("../image/403.jpg");
	height: 563px;
	width: 1000px;
	margin: auto;
}

#error {
	background: #ECEFF1;
}

/*CSS for error 404*/
#error404 .container {
	background-image: url("../image/404.jpg");
	height: 563px;
	width: 1000px;
	margin: auto;
}

#error404 {
	background: #ECEFF1;
}

/*CSS for order*/
#shoppingCart {
	margin-bottom: 30px;
	color: #111;
}

#shoppingCart div .goodCheckout h3 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 40px;
	width: 350px;
	top: -20px;
	color: #0066c0;
	font-weight: 700 !important;
	font-size: 17px !important;
	line-height: 1.255 !important;
}

#shoppingCart div.orderList h1 {
	padding-top: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #DDD;
	height: 60px;
}

#shoppingCart div .goodCheckout {
	border-bottom: 1px solid #DDD;
	padding: 10px;
}

#shoppingCart div .goodCheckout a {
	display: inline-block;
	margin-right: 40px;
	width: 250px;
}

#shoppingCart div .goodCheckout a:hover {
	cursor: pointer;
}

#shoppingCart div .goodCheckout p {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #b12704 !important;
	font-weight: 700 !important;
	font-size: 17px !important;
	line-height: 1.255 !important;
}

#shoppingCart div .goodCheckout .delete {
	display: inline-block;
	width: 20px;
	margin-left: 45px;
	vertical-align: top;
	position: relative;
	color: #0066C0;
}

#shoppingCart div .goodCheckout img {
	width: 100px;
	height: 100px;
}

#shoppingCart .orderList {
	margin-bottom: 20px;
	width: 70%;
	margin-left: 10%;
	background-color: #FFFFFF;
	margin-top: 30px;
}

#shoppingCart #checkoutBtn {
	float: right;
	position: fixed;
	bottom: 5px;
	right: 20px;
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: 150px;
	font-weight: 700;
}

#shoppingCart a:hover {
	text-decoration: none;
}

#shoppingCart .total {
	text-align: end;
	margin-right: 20%;
	font-size: 20px;
	color: #111;
	font-weight: 700;
}

/* CSS for Thank you page*/
#thankyou .container {
	background-image: url("../image/thank-you.jpg");
	height: 563px;
	width: 1000px;
	margin: auto;
}

#thankyou {
	background: #ECEFF1;
	border-top: 1px solid #3E4349;
}

/* CSS for Order Management*/
#orders {
	background-image: url("/resources/image/coffee.jpg");
	color: white;
	background-size: cover;
}

#orders h3 {
	text-align: center;
	margin: 0px;
}

#orders table {
	width: 80% !important;
	margin: auto !important;
	margin-top: 50px !important;
}

#orders a {
	color: deepskyblue;
}

/* CSS for order Detail*/
#orderDetail {
	margin-bottom: 30px;
	color: #111;
}

#orderDetail span {
	color: #b12704;
	font-weight: 700 !important;
	font-size: 20px !important;
}

#orderDetail div .goodCheckout h3 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 40px;
	width: 150px;
	top: -20px;
	color: #0066c0;
	font-weight: 700 !important;
	font-size: 17px !important;
	line-height: 1.255 !important;
}

#orderDetail div.orderList h1 {
	padding-top: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #DDD;
	height: 60px;
}

#orderDetail div .goodCheckout {
	border-bottom: 1px solid #DDD;
	padding: 10px;
}

#orderDetail div .goodCheckout a {
	display: inline-block;
	margin-right: 40px;
	width: 250px;
}

#orderDetail div .goodCheckout a:hover {
	cursor: pointer;
}

#orderDetail div .goodCheckout p {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #b12704 !important;
	font-weight: 700 !important;
	font-size: 17px !important;
	line-height: 1.255 !important;
	width: 150px;
}

#orderDetail div .goodCheckout img {
	width: 100px;
	height: 100px;
}

#orderDetail .orderList {
	margin-bottom: 20px;
	width: 80%;
	margin-left: 10%;
	background-color: #FFFFFF;
	margin-top: 30px;
}

#orderDetail #backBtn {
	float: right;
	position: fixed;
	bottom: 5px;
	right: 20px;
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: 150px;
	font-weight: 700;
}

#orderDetail a:hover {
	text-decoration: none;
}

/* CSS for Sign Up*/
#signUp {
	background-image: url("../image/signUp-background.jpg");
	background-position: top !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
}

#signUp .centered-form {
	margin-top: 60px;
}

#signUp .centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#signUp .input-sm {
	height: 40px;
}

#signUp input[type=submit].btn-block {
	height: 40px !important;
}

/*Begin of css for productDetail Page*/
#productDetail {
	background-color: #F5F5F5;
	overflow: auto;
	padding-top: 15px;
}

#productDetail .col-sm-2 {
	background-color: #F5F5F5;
	padding: 0px;
}

#productDetail .col-sm-2 img {
	height: 120px;
	width: 120px;
	background-color: white;
	border: 1px solid #dddddd;
}

#productDetail .col-sm-2 img:hover, #productDetail .col-sm-2 img:focus {
	border: 2px solid #333;
}

#productDetail .col-sm-8 {
	width: 60%;
}

#productDetail .col-sm-2>div {
	height: 130px;
	padding: 10px;
	margin-bottom: 15px;
}

#productDetail .col-sm-2>div:hover {
	cursor: pointer;
}

#productDetail .col-sm-10 {
	height: 500px;
	background-color: #F5F5F5;
}

#productDetail .col-sm-4 {
	background-color: #F5F5F5;
}

#productDetail .col-sm-4 .statusProduct>div {
	display: inline;
	margin-right: 50px;
}

#productDetail .col-sm-4 .statusProduct>div span {
	border-radius: 1000px;
	color: #333;
	font-weight: bold;
	background: #eee;
	padding: 0 10px;
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	margin-left: 4px;
}

#productDetail .col-sm-4 h3 {
	font-size: 48px;
	line-height: 54px;
	margin-bottom: 46px;
	font-style: italic;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
	padding: 0;
	text-align: left;
	position: relative;
	display: inline-block;
	color: #ff8a2b;
	margin: 0 0 20px;
}

#productDetail .col-sm-4 h4 {
	color: #ff8a2b;
	font-size: 34px;
	line-height: 36px;
	font-weight: 700;
	font-family: "Lobster", cursive;
}

#productDetail hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #dddddd;
}

#productDetail .col-sm-4 div {
	line-height: 30px;
}

#productDetail .col-sm-4 div.available {
	border-bottom: 1px solid #ebebeb;
}

#productDetail .col-sm-4 div label {
	color: #54B70B;
}

#productDetail .detail {
	font: 400 14px/22px "Open Sans", sans-serif;
	color: #757575;
}

#productDetail .col-sm-10 img {
	height: 500px;
	width: 500px;
}

#productDetail button {
	display: inline-block;
	outline-offset: 0px;
	cursor: pointer;
	-webkit-appearance: none;
	color: rgb(255, 255, 255);
	background: rgb(18, 164, 221);
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	outline: none;
	transition: all 0.3s ease;
	padding: 0px 35px;
	font: 400 20px/55px material-design;
	height: 55px;
	margin-top: 20px;
	font: 600 15px/22px "Open Sans", sans-serif;
}

#productDetail button:hover {
	background-color: #888B8E;
}

#productDetail .backToHome {
	background: #ff8a2b;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	padding: 8px 20px 9px;
	text-shadow: none;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	position: relative;
	overflow: hidden;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	text-transform: capitalize;
	border: none;
	transition: all 0.4s ease;
	text-decoration: none;
}

#productDetail .backToHome:hover, #productDetail .backToHome:focus {
	background-color: #141D23;
}

#productDetail .backToHome .fa {
	margin: 0 3px;
	position: relative;
	top: 0px !important;
	display: inline-block;
	font-size: 13px;
	pointer-events: none;
}

#productDetail .form-group {
	margin-left: 45px;
}
/*End of css for productDetail Page*/
footer {
	margin-top: 30px;
	padding-top: 60px;
	clear: both;
	overflow: hidden;
	background-color: #434A4F;
}

.block .block-heading {
	color: white;
	font-size: 14px;
	margin: 0 0 15px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	word-wrap: break-word;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.block .block-content li {
	padding: 2px 0 1px;
}

.block .block-content li a {
	font-size: 12px;
	word-wrap: break-word;
	color: #ff8a2b;
}

.block .block-content .foot-phone div.fleft {
	margin-left: -5px
}

.block .block-content .foot-phone div {
	color: #b09769;
	line-height: 22px;
	font-size: 11px;
}

.block .block-content .foot-phone span {
	line-height: normal;
	font-size: 36px;
	color: #df574b;
	margin-right: 5px;
}

#copyright {
	background-color: #4a403d;
	margin-top: 75px;
	padding: 25px 0;
	font-size: 11px;
	color: #908481;
}

.fleft {
	float: left;
}

.extra-wrap {
	overflow: hidden;
}

.extra-wrap a {
	color: #D87D32;
}

.extra-wrap a:hover {
	color: white;
	text-decoration: none;
}

.extra-wrap a:focus {
	color: #D87D32;
	text-decoration: none;
}

.fa-facebook-f:before, .fa-facebook:before {
	content: "\f09a";
}

.flag {
	display: inline;
}

.flag img {
	width: 36px;
	height: 36px;
}

.header.i18n {
	margin-right: 20px;
	margin-top: 5px;
}

/*CSS for shopping cart*/
#shoppingCart .backToHome {
	background: #ff8a2b;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	padding: 8px 20px 9px;
	text-shadow: none;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	position: relative;
	overflow: hidden;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	text-transform: capitalize;
	border: none;
	transition: all 0.4s ease;
	text-decoration: none;
}

#shoppingCart .backToHome:hover, #productDetail .backToHome:focus {
	background-color: #141D23;
}

#shoppingCart .backToHome .fa {
	margin: 0 3px;
	position: relative;
	top: 0px !important;
	display: inline-block;
	font-size: 13px;
	pointer-events: none;
}

#shoppingCart .backToHome span {
	color: white;
}

#shoppingCart h2 {
	text-align: center;
	height: 300px;
	padding-top: 10%;
}

#shoppingCart .form-group.back {
	margin-left: 10px;
}

/*CSS for checkoutPage */
#checkoutPage h3 {
	margin-left: 20px;
}

#checkoutPage #checkoutForm {
	width: 75%;
	margin-left: 20px;
}

#checkoutPage .checkoutAddressBtn {
	background: #ff8a2b;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	line-height: 28px;
	outline: none;
	padding: 8px 20px 9px;
	text-shadow: none;
	box-shadow: none;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	position: relative;
	overflow: hidden;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	text-transform: capitalize;
	border: none;
	transition: all 0.4s ease;
	text-decoration: none;
}

#checkoutPage .checkoutAddressBtn:hover, #productDetail .checkoutAddressBtn:focus
	{
	background-color: #141D23;
}

#checkoutPage .checkoutAddressBtn .fa {
	margin: 0 3px;
	position: relative;
	top: 0px !important;
	display: inline-block;
	font-size: 13px;
	pointer-events: none;
}

#checkoutPage .cart-list {
	margin-top: 20px;
}

#checkoutPage .cart-list li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}

#checkoutPage .group-card {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding-left: 10px;
	width: 363px;
}