.main-content {
	background-image: url("../image/coffe_login.jpg");
	
}

.login {
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
	
}

.success {
	color: green;
}

.error {
	color: red;
}

.field-error {
	border: 1px solid red;
}

input {
	margin-bottom: 5px;
}

em {
	color: red;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}